{% for section_hash in site.data.sections %}
{% assign section = section_hash[1] %}
    <h4><a href="{{ section.url }}">{{ section.name }}</a></h4>
    {% if section.subsections.size > 0  %}
        <ul>
            {% for subsections in section.subsections | where: "online", true %}
                {% if subsections.online == false %}
                <li class="offline">{{ subsections.title }}</li>
                {% else %}
                <li><a href="{{ subsections.url }}"> {{ subsections.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}

    {% endif %}
{% endfor %}
